<div class="text-layout">
    <h1>
        <span style="margin-right: 1.5rem;">
            <i class="pi pi-calendar" style="font-size: 2rem"></i>
        </span>Pipes aplicables a Fechas
    </h1>
    <h3>Incluídos en Angular (Usualmente en el CommonModule de @angular/common).</h3>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Código"
                subheader="fecha: Date = new Date(); (no es moment.js)">
            <ul>
                <li> fecha </li>
            </ul>
            <hr/>
            <ul>
                <li> fecha | date </li>
                <li> fecha | date:'short' </li>
                <li> fecha | date:'long' </li>
                <li> fecha | date:'MMMM' </li>
                <li> fecha | date:'MMMM dd, yyyy' </li>
                <li> fecha | date:'dd <b>\'</b>de<b>\'</b> MMMM <b>\'</b>de<b>\'</b> yyyy' -> <b>\'</b> sirve para escapar caracteres en la expresión</li>
            </ul>
            <hr/>
            <ul>
                <li> fecha | date:'long':'GMT+1' -> La hora en Canarias es... </li>
                <li> fecha | date:'long':'':'en' -> Si quiero usar el locale español argentino... </li>
                <li> fecha | date:'long':'':'en' -> Si quiero usar el locale inglés... </li>
                <li> fecha | date:'long':'':'fr' -> Si quiero usar el locale francés... </li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado"
                subheader="pipe aplicado a la variable">
            <ul>
                <li> {{currentDate}} </li>
            </ul>
            <hr/>
            <ul>
                <li> {{currentDate | date}} </li>
                <li> {{currentDate | date:'short'}} </li>
                <li> {{currentDate | date:'long'}} </li>
                <li> {{currentDate | date:'MMMM'}} </li>
                <li> {{currentDate | date:'MMMM dd, yyyy'}} </li>
                <li> {{currentDate | date:'dd \'de\' MMMM \'de\' yyyy'}} </li>
            </ul> 
            <hr/>
            <ul>
                <li> {{currentDate | date:'long':'GMT+1'}} </li>
                <!-- CUIDADO CON LOS LOCALES DE DIFERENTES ZONAS, 'es' ES EL GENÉRICO Y CUBRE es-AR, PERO DE NO SER ASÍ HABRÍA QUE IMPORTARLO LITERALMENTE EN EL MÓDULO -->
                <li> {{currentDate | date:'long':'GMT-2':'es-AR'}} </li>
                <!-- HAY QUE INDICAR LOS PARAMETROS EN EL ORDEN QUE VIENEN AUNQUE ESTÉN VACÍOS -->
                <li> {{currentDate | date:'long':'':'en'}} </li>
                <!-- ANGLUAR IMPORTA POR DEFECTO EL LOCALE DE INGLÉS, PERO NO LOS DEMÁS, POR ESO DA UN ERROR Y TENDREMOS QUE IMPORTAR OTRO LOCALE -->
                <li> {{currentDate | date:'long':'':'fr'}} </li>
            </ul>
        </p-card>
    </div>
</div>