<div class="text-layout">
    <h1>Pipes aplicables a Números</h1>
    <h3>Pipes incluídos en Angular (Usualmente en el CommonModule de @angular/common).</h3>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Código"
                subheader="public bigNumber: number = 2567789.5567;">
                <span ngNonBindable>{{ bigNumber | number }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado"
                subheader="2567789.5567">
                {{bigNumber | number}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ bigNumber | number:'.2-2' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{bigNumber | number:'.2-2'}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ bigNumber | number:'.2-8' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{bigNumber | number:'.2-8'}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ bigNumber | number:'.8-8' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{bigNumber | number:'.8-8'}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ bigNumber | number:'10.8-8' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{bigNumber | number:'10.8-8'}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ (bigNumber+1000000) | number:'1.2-2' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{(bigNumber+1000000) | number:'1.2-2'}}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{ bigNumber | number:'1.2-2':'en' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{bigNumber | number:'1.2-2':'en'}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Pipes aplicables a Divisas</h1>
    <h3>Pipes incluídos en Angular (Usualmente en el CommonModule de @angular/common).</h3>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Código"
                subheader="public currencyNumber: number = 12500.50;">
                <span ngNonBindable>{{ currencyNumber | currency }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado"
                subheader="12500.50">
                {{currencyNumber | currency }}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{currencyNumber | currency:'USD':'symbol-narrow':'.2-4':'en' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{currencyNumber | currency:'USD':'symbol-narrow':'.2-4':'en' }}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código">
                <span ngNonBindable>{{currencyNumber | currency:'EUR':'symbol-narrow':'1.2-4'}}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado">
                {{currencyNumber | currency:'EUR':'symbol-narrow':'1.2-4'}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Pipes aplicables a Porcentajes</h1>
    <h3>Pipes incluídos en Angular (Usualmente en el CommonModule de @angular/common).</h3>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Código"
                subheader="public percentNumber: number = 0.75;">
                <span ngNonBindable>{{ percentNumber | percent }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado"
                subheader="0.75">
                {{percentNumber | percent }}
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Código"
                subheader="public percentNumber: number = 0.75;">
                <span ngNonBindable>{{ percentNumber | percent:'.2-2' }}</span>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Resultado"
                subheader="0.75">
                {{percentNumber | percent:'.2-2' }}
        </p-card>
    </div>
</div>
