<div class="text-layout">
    <h1>
        <span style="margin-right: 1.5rem;">
            <i class="pi pi-globe" style="font-size: 2rem"></i>
        </span>Pipes de Internacionalización (i18n)
    </h1>
    <h3>Incluídos en Angular (Usualmente en el CommonModule de @angular/common).</h3>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
    <div class="p-col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>

</div>
