html, body {
    margin: 10px;
    background-color: var( --surface-b );
    font-family: var( --font-family );
}

.text-layout {
    color: var( --text-color);
}

#part2,#part3,#part4,#part5 {
    margin-top: 5rem;
}